@model IEnumerable<Library.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BooksList</h2>
@if(!Model.Any())
{
    <p>We don't have any books now</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Book</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var book in Model)
             {
                <tr>
                    <td>@book.Title</td>
                </tr>
             }
        </tbody>
    </table>
}



